/*==================================================
RESET
==================================================*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background:#ffffff;
    color:#1F2937;
    overflow-x:hidden;
}

img{
    display:block;
    max-width:100%;
}

a{
    text-decoration:none;
}

ul{
    list-style:none;
}


/*==================================================
CONTENEDOR
==================================================*/

.contenedor{
    width:100%;
    max-width:1200px;
    margin:auto;
    padding:0 25px;
}


/*==================================================
NAVBAR
==================================================*/

.navbar{

    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:80px;

    background:rgba(255,255,255,.95);

    backdrop-filter:blur(12px);

    box-shadow:0 5px 20px rgba(0,0,0,.06);

    z-index:999;

}

.nav-container{

    height:80px;

    display:flex;

    justify-content:space-between;

    align-items:center;

}

.logo-nav{

    width:130px;

}

.menu{

    display:flex;

    gap:35px;

    align-items:center;

}

.menu a{

    color:#1F2937;

    font-weight:500;

    transition:.3s;

}

.menu a:hover{

    color:#2563EB;

}


/*==================================================
MENU HAMBURGUESA
==================================================*/

.hamburger{

    display:none;

    width:30px;

    height:22px;

    flex-direction:column;

    justify-content:space-between;

    cursor:pointer;

}

.hamburger span{

    height:3px;

    width:100%;

    background:#1F2937;

    border-radius:10px;

}


/*==================================================
HERO
==================================================*/

.hero{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    padding-top:80px;

    text-align:center;

}

.hero-contenido{

    width:100%;

}

.logo-hero{

    width:340px;

    margin:auto;

    margin-bottom:15px;

}

.hero h1{

    font-size:3rem;

    line-height:1.15;

    margin-bottom:25px;

}

.hero h1 span{

    color:#2563EB;

}

.botones{

    display:flex;

    justify-content:center;

    gap:20px;

    flex-wrap:wrap;

}

.boton{

    padding:14px 34px;

    border-radius:40px;

    font-weight:600;

    transition:.3s;

}

.boton-principal{

    background:#2563EB;

    color:white;

}

.boton-principal:hover{

    background:#1d4ed8;

}

.boton-secundario{

    background:#111827;

    color:white;

}

.boton-secundario:hover{

    background:#1F2937;

}


/*==================================================
RESPONSIVE
==================================================*/

@media(max-width:768px){

.logo-nav{

width:110px;

}

.logo-hero{

width:240px;

}

.hero h1{

font-size:2.2rem;

}

.hamburger{

display:flex;

}

.menu{

display:none;

position:absolute;

top:80px;

left:0;

width:100%;

background:white;

flex-direction:column;

gap:0;

box-shadow:0 10px 25px rgba(0,0,0,.08);

}

.menu.active{

display:flex;

}

.menu li{

width:100%;

border-bottom:1px solid #eee;

}

.menu li a{

display:block;

padding:16px;

text-align:center;

}

}

/*==================================================
PORTAFOLIO
==================================================*/

.portafolio{
    padding:90px 0;
    background:#fff;
}

.portafolio h2{
    text-align:center;
    font-size:2.6rem;
    margin-bottom:15px;
}

.subtitulo{
    text-align:center;
    color:#6B7280;
    margin-bottom:45px;
}

.portafolio-contenedor{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:20px;
}

.slider{
    width:100%;
    max-width:1100px;
}

/* PÁGINAS DEL SLIDER */

.grupo{
    display:none;
    grid-template-columns:repeat(3,1fr);
    gap:22px;
}

.grupo.activo{
    display:grid;
}

/* TARJETA */

.proyecto{
    position:relative;
    overflow:hidden;
    border-radius:18px;
}

/* IMAGEN */

.proyecto img{
    width:100%;
    aspect-ratio:4/5;
    object-fit:cover;
    display:block;
    cursor:pointer;
    transition:transform .45s ease;
}

/* OVERLAY */

.overlay{

    position:absolute;

    left:0;
    right:0;
    bottom:0;

    padding:22px;

    background:linear-gradient(
        to top,
        rgba(0,0,0,.85),
        rgba(0,0,0,0)
    );

    opacity:0;

    transition:.35s;

}

.proyecto:hover .overlay{

    opacity:1;

}

.proyecto:hover img{

    transform:scale(1.06);

}

.overlay h3{

    color:#fff;

    font-size:1.15rem;

    margin-bottom:5px;

}

.overlay p{

    color:#E5E7EB;

    font-size:.9rem;

}

/* FLECHAS */

.flecha{

    width:55px;
    height:55px;

    border:none;

    border-radius:50%;

    background:#111827;

    color:#fff;

    font-size:28px;

    cursor:pointer;

    transition:.3s;

    flex-shrink:0;

}

.flecha:hover{

    background:#2563EB;

}

/* LIGHTBOX */

#lightbox{

    position:fixed;

    inset:0;

    display:none;

    justify-content:center;

    align-items:center;

    background:rgba(0,0,0,.92);

    z-index:9999;

}

#lightbox.activo{

    display:flex;

}

#imagenGrande{

    max-width:90%;

    max-height:90vh;

    border-radius:14px;

}

#cerrar{

    position:absolute;

    top:20px;

    right:35px;

    color:#fff;

    font-size:48px;

    cursor:pointer;

}

#anterior,
#siguiente{

    position:absolute;

    top:50%;

    transform:translateY(-50%);

    width:58px;

    height:58px;

    border:none;

    border-radius:50%;

    background:#fff;

    color:#2563EB;

    font-size:28px;

    cursor:pointer;

}

#anterior{

    left:25px;

}

#siguiente{

    right:25px;

}

/* RESPONSIVE */

@media(max-width:900px){

.grupo{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:768px){

.portafolio-contenedor{

gap:10px;

}

.grupo{

grid-template-columns:1fr;

}

.flecha{

width:45px;

height:45px;

font-size:22px;

}

}
/*==================================================
FLECHAS
==================================================*/

.flecha{

    width:55px;
    height:55px;

    border:none;

    border-radius:50%;

    background:#111827;

    color:#fff;

    font-size:28px;

    cursor:pointer;

    transition:.3s;

    flex-shrink:0;

}

.flecha:hover{

    background:#2563EB;

}


/*==================================================
LIGHTBOX
==================================================*/

#lightbox{

    position:fixed;

    inset:0;

    display:none;

    justify-content:center;

    align-items:center;

    background:rgba(0,0,0,.93);

    z-index:99999;

}

#lightbox.activo{

    display:flex;

}

#imagenGrande{

    max-width:90%;

    max-height:88vh;

    border-radius:14px;

    animation:zoom .3s ease;

}

@keyframes zoom{

from{

opacity:0;

transform:scale(.9);

}

to{

opacity:1;

transform:scale(1);

}

}

#cerrar{

    position:absolute;

    top:25px;

    right:35px;

    color:#fff;

    font-size:48px;

    cursor:pointer;

    user-select:none;

}

#anterior,
#siguiente{

    position:absolute;

    top:50%;

    transform:translateY(-50%);

    width:58px;

    height:58px;

    border:none;

    border-radius:50%;

    background:#fff;

    color:#2563EB;

    font-size:30px;

    font-weight:bold;

    cursor:pointer;

    transition:.3s;

}

#anterior:hover,
#siguiente:hover{

    background:#2563EB;

    color:#fff;

}

#anterior{

    left:35px;

}

#siguiente{

    right:35px;

}


/*==================================================
RESPONSIVE PORTAFOLIO
==================================================*/

@media(max-width:992px){

.grupo{

grid-template-columns:repeat(2,1fr);

}

.proyecto{
    position:relative;
    overflow:hidden;
    border-radius:18px;
}

}

@media(max-width:768px){

.portafolio{

padding:70px 0;

}

.portafolio-contenedor{

gap:10px;

}

.grupo{

grid-template-columns:1fr;

}

.proyecto img{

height:auto;

}

.flecha{

width:45px;

height:45px;

font-size:22px;

}

#anterior{

left:10px;

}

#siguiente{

right:10px;

}

#cerrar{

right:20px;

font-size:42px;

}

}
/*==================================================
NOSOTROS
==================================================*/

.sobre{
    padding:90px 0;
    background:#fff;
}

.sobre-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    align-items:center;
    gap:70px;
}

.etiqueta{
    display:inline-block;
    color:#2563EB;
    font-weight:600;
    margin-bottom:15px;
}

.sobre-texto h2{
    font-size:2.7rem;
    line-height:1.2;
    margin-bottom:25px;
}

.sobre-texto h2 span{
    color:#2563EB;
}

.sobre-texto p{
    color:#6B7280;
    line-height:1.8;
    margin-bottom:18px;
}

.sobre-imagen{
    text-align:center;
}

.sobre-imagen img{
    width:100%;
    max-width:480px;
    border-radius:20px;
    box-shadow:0 20px 50px rgba(0,0,0,.08);
}


/*==================================================
SERVICIOS
==================================================*/

.servicios{
    padding:90px 0;
    background:#F8FAFC;
}

.titulo-seccion{
    text-align:center;
    margin-bottom:50px;
}

.titulo-seccion h2{
    font-size:2.5rem;
    margin-bottom:12px;
}

.titulo-seccion p{
    color:#6B7280;
}

.servicios-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}

.servicio{
    background:#fff;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 10px 30px rgba(0,0,0,.05);
    transition:.3s;
}

.servicio:hover{
    transform:translateY(-8px);
}

.servicio-img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.servicio-img{
    width:100%;
    height:220px;
    object-fit:cover;
    cursor:pointer;
    transition:transform .3s ease;
}


.servicio-info{
    padding:22px;
    text-align:center;
}

.servicio-info h3{
    margin-bottom:10px;
    text-align:center;
}

.servicio-info p{
    text-align:center;
    color:#6B7280;
    line-height:1.5;
    margin:0 auto;
    max-width:180px;
}

/*==================================================
CONTACTO
==================================================*/

.contacto{
    padding:90px 0;
    text-align:center;
}

.contacto-etiqueta{
    color:#2563EB;
    font-weight:600;
}

.contacto h2{
    font-size:2.5rem;
    margin:15px 0;
}

.contacto-texto{
    color:#6B7280;
    max-width:650px;
    margin:0 auto 50px;
}

.contacto-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;
}

.contacto-card{
    background:#fff;
    padding:35px;
    border-radius:20px;
    color:#1F2937;
    box-shadow:0 10px 25px rgba(0,0,0,.05);
    transition:.3s;
}

.contacto-card:hover{
    transform:translateY(-8px);
}

.contacto-card i{
    font-size:2rem;
    color:#2563EB;
    margin-bottom:18px;
}

.contacto-card h3{
    margin-bottom:10px;
}

.contacto-card span{
    color:#6B7280;
}


/*==================================================
FOOTER
==================================================*/

.footer{
    background:#111827;
    color:#fff;
    padding:70px 0 35px;
}

.footer .contenedor{
    text-align:center;
}

.footer-logo{
    width:190px;
    margin:0 auto 20px;
}

.footer-slogan{
    color:#9CA3AF;
    margin-bottom:35px;
}

.footer-menu{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
    margin-bottom:35px;
}

.footer-menu a{
    color:#fff;
    transition:.3s;
}

.footer-menu a:hover{
    color:#2563EB;
}

.footer-redes{
    display:flex;
    justify-content:center;
    gap:18px;
    margin-bottom:35px;
}

.footer-redes a{
    width:48px;
    height:48px;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    background:#1F2937;
    color:#fff;
    transition:.3s;
}

.footer-redes a:hover{
    background:#2563EB;
    transform:translateY(-4px);
}

.footer-linea{
    height:1px;
    background:rgba(255,255,255,.08);
    margin-bottom:25px;
}

.copyright{
    color:#9CA3AF;
    font-size:.9rem;
}


/*==================================================
RESPONSIVE GENERAL
==================================================*/

@media(max-width:992px){

.sobre-grid,
.contacto-grid{
    grid-template-columns:1fr;
}

.servicios-grid{
    grid-template-columns:repeat(2,1fr);
}

}

@media(max-width:768px){

.sobre{
    padding:70px 0;
}

.sobre-grid{
    grid-template-columns:1fr;
    text-align:center;
}

.sobre-imagen{
    order:-1;
}

.sobre-texto h2{
    font-size:2rem;
}

.servicios-grid{
    grid-template-columns:1fr;
}

.contacto-grid{
    grid-template-columns:1fr;
}

.footer-menu{
    gap:18px;
}

.footer-logo{
    width:170px;
}

}